.historyBlock {
  padding: 60px 20px;
  display: flex;
  height: 660px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  border: var(--border-size-lg);
  border-radius: var(--border-radius-size);
  width: 320px;

  .title {
    display: flex;
    align-items: center;
    gap: 10px;
    .titleIcon {
      height: 24px;
    }
    .titleText {
      font-size: 36px;
    }
  }

  .history {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .move {
      font-size: 32px;

      @media screen and (width <= 1024px) {
        font-size: 20px;
      }
    }
  }

  @media screen and (width <= 1024px) {
    height: 320px;
  }
}
